[Unit]
Description=GPS data feeder for W3C visserver
After=w3c-visserver

[Service]
Type=simple
WorkingDirectory=/usr/bin/gps-feeder
ExecStart=/usr/bin/python3 /usr/bin/gps-feeder/gps-feeder.py
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target

