[Unit]
Description = Service to fill the system call database and perform STIDE IDS approach
ConditionPathExists = /usr/bin/app-ids/src/config.xml
Requires = mosquitto.service stide_syscall_formatter.service syscall_tracer.service
After = mosquitto.service
Before = stide_syscall_formatter.service syscall_tracer.service
 
[Service]
Type=simple
WorkingDirectory=/usr/bin/app-ids/src
ExecStart =/usr/bin/python3 /usr/bin/app-ids/src/stide.py

[Install]
WantedBy = multi-user.target
