[Unit]
Description=Service to enable dongle standby mode

[Service]
Type=simple
WorkingDirectory=/usr/bin/kuksa-dongle
ExecStart=/usr/bin/python3  /usr/bin/kuksa-dongle/enable_standby.py
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target

