[Unit]
Description=kuksa dongle internet service             
After=network.target ofono.service
  
[Service]
Type=simple
WorkingDirectory=/usr/bin/kuksa-dongle
ExecStart=/usr/bin/kuksa-dongle/kuksa-internet.sh
Restart=on-failure
StandardError=null            
                              
[Install]                     
WantedBy=multi-user.target

