[Unit]
Description = OBDII data feeder ELM 327 for w3c-visserver
Wants=w3c-visserver network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory=/usr/bin/elm327-visdatafeeder
ExecStart=/usr/bin/elm327-visdatafeeder/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

