[Unit]
Description=kuksa dongle LTE modul postset service
After= ofono.service               
                         
[Service]
Type=simple 
ExecStart=/usr/bin/python3 /etc/enable-modem.py
StandardError=null            
                              
[Install]                     
WantedBy=multi-user.target

