[Unit]
Description = Network IDS application

[Service]
Environment = "ARGS = 100 vcan0 true"
ExecStart = /usr/bin/python3 -u /usr/bin/netIDS/TimeIntervals.py $ARGS
RestartSec=5
Restart=always
StandardOutput=journal


[Install]
WantedBy = multi-user.target


