[Unit]
Description = Network IDS application

[Service]
Environment = "ARGS = 5 vcan0 true"
ExecStart = python3 /usr/bin/netIDS/TimeIntervals.py $ARGS

[Install]
WantedBy = multi-user.target
